.our-form {
  width: 100%;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-title {
  text-align: center;
}

.btn-form {
  padding: 1.2rem;
  width: 15%;
  background: red;
  color: white;
  border-radius: 20px;
}

.btn-form:active,
.btn-form:hover {
  background: white;
  color: red;
}

.btn-form:focus {
  outline: transparent;
}
