.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #ff6b35;
  border-width: 0;
  width: 100%;
  height: 4rem;
  z-index: 5;
}

.main-header__container {
  width: 2.5rem;
  height: 2.5rem;
  box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.5);
  margin-left: 4rem;
}

.main-nav__items {
  padding-right: 5rem;
}

.main-header__brand {
  width: 2.5rem;
  height: 2.5rem;
}

a {
  color: white;
  text-decoration: none;
}

a.active {
  border-bottom: 3px solid #c21935;
}
